body{
    overflow-x: hidden;
    max-width: 100%;
}
#h11{
    background-color: #1d1d1f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    position: fixed;
    top: 0;
    width: 100%;
}
.a1{
    color:rgb(255, 255, 255);
    width: 50px;
    height: 50px;
}
.navbar{
    height: 40px;
    opacity: 0.8;
    
}
#h22{
    padding-left: 150px;
    padding-right: 10px;
}
.op{
    opacity: 0.8;
    margin: 0 12px
}
#h33{
    width:120%;
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding-left: 215px;
    font-size: xx-small;
    margin-top: 40px;
    padding-top:10px;
    font-family: Arial, Helvetica, sans-serif
}
#h44{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#i1{
    width:75%;
    height: 350px;
    margin-left: 165px;
    margin-top: -20px;
}
.p1{
    font-size: 45px;
    font-weight: bold;
    padding-top: 40px;
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8{
    text-align: center;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.p2{
    margin-top: -50px;
    font-size: x-large;
   
}
.p3{
    margin-top: -35px;
    font-size: large;
}
#mac,#imac,#ipn15,#ipad,#watch2,#trade{
    background-color:rgb(246 246 255 / 70%);
    align-items: center;
}
#iphn{
    background-color:rgb(0, 0, 0);
    align-items: center;
    margin-top: 10px;
}
#imac{
    margin-top: 10px;
}
#i2{
    
    margin-left: 165px;
    width:75%;
    height: 350px;
    margin-top: -20px;
}
#i3{
    margin-left: 16px;
    width:100%;
    height: 350px;
    margin-top: -10px;
}
.p4{
    font-size: 31px;
    font-weight: bold;
    padding-top: 40px;
}
.p5{
    margin-top: -45px;
    font-size: larger;
   
}
.p6{
    margin-top: -35px;
    font-size: medium;
}
#i4{
    margin-left: 12px;
    width:100%;
    height: 390px;
    margin-top: -10px;
}
#ipn15{
    background-color: rgb(238 238 255 / 70%);
}
#d1,#d2,#d3{
    margin-top: 10px;
    display: flex;
    
}
#watch,#air{
    background-color: black;
    width: 48%;
    margin-left: 10px;
}
#i5,#i7{
    margin-left: -12px;
    width:103%;
    height: 350px;
    margin-top: -10px;
}
#i7{
    height: 360px;
}
.p7{
    color: red;
    font-size: x-small;
    margin-top: -45px;
    letter-spacing: 2.5px;
}
#i6,#i8{
    margin-left: 12px;
    width:100%;
    height: 360px;
    margin-top: -10px;
}
#trade{
    width: 48%;
    margin-left: 10px;
}
#i9{
    height: 400px;
    width: 104%;
    margin-left: -12px;
}

.p8{
    color: orangered;
    font-size: x-small;
    font-weight: bolder;
    margin-top: -45px;
    letter-spacing: 2.5px;
}


/* Custom properties */
:root {
    --black: #151515;
    --black-90: rgba(21, 21, 21, .9);
    --black-75: rgba(21, 21, 21, .75);
    --black-50: rgba(21, 21, 21, .5);
    --bg-1: #E3CFCF;
    --bg-2: #E9E9E9;
    --accent: #E36262;
    --primary-ff: 'EB Garamond', Georgia, serif;
    --secondary-ff: 'Montserrat', Helvetica, sans-serif;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: var(--black-90); */
}

h1 {
    font-size: 58px;
    line-height: 85px;
}

h2 {
    font-size: 45px;
    line-height: 67px;
    font-weight: 400;
}

h3 {
    font-size: 36px;
    line-height: 55px;
    font-weight: 400;
}

p {
    font-size: 22px;
    line-height: 36px;
    color: var(--black-90);
}

a {
    color: var(--black);
}

a:hover {
    color: var(--accent);
}

/* Header */
#main-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 10rem 4rem;
}

#main-header img {
    max-width: 100%;
    height: auto;
}

p.intro {
    font-family: var(--secondary-ff);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--black-50);
}

/* Sections */
.padded {
    padding: 7.5rem;
}

#about {
    background-color: var(--bg-1);
}

#slider-2 {
    padding-bottom: 7.5rem;
}

/* Container */
.container {
    max-width: 50rem;
    margin: auto;
}

.container.wide {
    max-width: 100%;
    padding: 0 4rem;
}

/* Footer */
footer {
    background-color: var(--bg-2);
    padding: 4rem;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .padded,
    #main-header {
        padding: 4rem;
    }
}

/* Swiper */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 29rem;
    object-fit: cover;
}

.swiper-slide figure {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.swiper-slide figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 17px;
    font-family: var(--secondary-ff);
    line-height: 29px;
    /* background-color: var(--black); */
    display: flex;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem .5rem 0 0;
    padding: 1rem 2rem;
    left: 50%;
    transform: translate3d(-50%, 100%, 0);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.swiper-slide-active figcaption {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
}

.swiper-slide figcaption img {
    width: auto;
    height: auto;
    object-fit: contain;
}

#swiper-1 .swiper-pagination {
    bottom: 2rem;
}

#swiper-1 .swiper-pagination-bullet {
    margin: 0 .5rem;
    opacity: 1;
    background-color: var(--black-75);
    width: .75rem;
    height: .75rem;
    
}

#swiper-1 .swiper-pagination-bullet-active {
    background-color: var(--accent);
    
}

.swiper-custom-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.swiper-custom-nav svg {
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease-in-out;
}

.swiper-custom-nav svg:hover {
    opacity: 1;
}

.swiper-custom-pagination {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    justify-content: center;
    gap: 1rem;
    font-family: var(--secondary-ff);
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    color: var(--black);
}

.swiper-custom-pagination .swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
}

.swiper-custom-pagination .number {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.swiper-custom-pagination .line {
    opacity: .3;
    height: .25rem;
    width: .75rem;
    background-color: var(--black);
    display: block;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .number,
.swiper-custom-pagination .swiper-pagination-bullet-active .line {
    opacity: 1;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .line {
    width: 2rem;
}

@media screen and (max-width: 800px) {
    .swiper-slide img {
        height: 20rem;
    }

    .swiper-slide figcaption {
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
        background-color: var(--black-90);
    }

    .swiper-custom-nav {
        display: none;
    }
}
figcaption{
    margin-left: -100px;
    width: 100%;
}

#b1,#b2,#b3,#b4,#b5{
    border-radius:50px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bolder;
}

footer{
    background-color:rgb(246 246 255 / 70%);
    margin-top: -100px;

}
#ft{
    font-size: small;
    text-align: justify;
    text-justify: inter-word;
    line-height: 15px;
    color: gray;
}
#ftt{
    margin-top: -40px;
}
.aa{
    color: rgb(65, 64, 64);
}
#ss{
    margin-top: -20px;
}
.col-2,.col-1{
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
    color: gray;
    margin-left: 10px;
    line-height: 25px;
}
#ft1{
    text-align: left;
    font-size: 12px;
}
#pre1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -20px;
    font-size: 12px;
}
#in{
    text-align: end;
    margin-top: -35px;
    font-size: 12px;
}